.screen-header {
  display: flex;
  position: sticky;
  top: 25px;
  width: 100%;
  padding: var(--horizontal-space);
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__cog {
  position: relative;
}

.notifications {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  right: 18px;
  top: 25px;
}
